.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(75, 0, 130, 0.9);
  padding: 15px 0;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar li {
  color: white;
  cursor: pointer;
  font-weight: 500;
}
